body {
    font-family: cursive;
    background-color:#646157;
    color: white;
}

header{
    background-color: #3D3C37;
    border-radius: 5px;
}

footer {
    background-color: #3D3C37;
    border-radius: 5px;
}

nav a{
    background-color:#7B7768;
    border-radius:5px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    
}

header img{
    width: 50px;
    height: 50px;
}
table{
    background-color: #99968E;
    border-radius: 5px;
    border: 2px solid white;
    
}
main p{
    border-radius:5px;

}

td{
    border: 2px solid white;
}

main{
    text-align: center;
}


h1{
    background-color:#3D3C37;
    border-radius: 5px;
}

.a{
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

li{
    text-align: left;
}
ol, ul{
    background-color: #99968E;
    border-radius: 5px;
}

h2, h3, h4,h5{
    background-color:#7B7768;
    border-radius: 5px;
}
main img{
    text-align: center;
    border-radius: 5px;
    margin-left: 33px;
    margin-right: 33px;
}
.b{
    width: 150px;
    height: 85px;
}
.c{
    width: 85px;
    height: 85px;
}
.d{
    background-color: #646157;
}
p img{
    text-align: center;
}
.s{
    background-color:#99968E ;
}
